@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

  /* ... */
}
@utility ink-bg-dark-100 {
  background-color: #2d3748;
}

@utility ink-bg-dark-50 {
  background-color: #4a5568;
}

/*
// #2b6cb0; Medium Blue for Header Menu
// #2D3748; Darkmode Navbar Background
// #e1f1fc; hover icon background
// #3182ce; BrightMode Button Background
// #2b6cb0: BrightMode Button Background hover
*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #f5f4f4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.basic-button {
  background-color: #3182ce;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.basic-button:hover {
  background-color: #2b6cb0;
}

.cropper-bg {
  opacity: 0.5;
}

a {
  font-weight: 400;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

ul.li.p {
  text-decoration: navy;
}

li.p {
  text-decoration: dotted;
}

.ProseMirror {
  outline: none;
  height: 100%;
  padding: 0.5em;
  overflow-x: auto;
}
